body{
	background-image:url(im/download.jpg);
}

#t {
	background-color:white;
	color:#101010;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	border-radius:100px;
	width: 300px;
	text-align:center;
}

#no {
	background-color:white;
	color:#ff0000;
	border:3px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	width: 250px;
	text-align:center;
}

#vide {
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	border-radius:100px;
}

#ani {
	transform: scale(0.5);
	transition:5s all;

	opacity:0.8;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
}
#ani:hover{
	transform: rotate(180deg) scale(0.5);
	
}
