body{
	background-image:url(im/download.jpg);
}

nav {
	width: 960px;
	margin: 0 auto;
}

nav:before {
	content:'';
	display: block;
	height :50px;
	width: 100%;
	background: #000;
	position: absolute;
	left: 0;
	z-index: -1;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 50px;
}

ul li {
	float:left;
}

ul li a {
	color:#fff;
	display: block;
	height: 50px;
	padding:0 30px;
	text-transform: uppercase;
	text-decoration:none;
	line-height: 50px;
}
ul li a:hover {
	background: #d34d43;
}


#t {
	background-color:white;
	color:#101010;
	border:7px solid #59534F;
	box-shadow:10px 10px 7px #000000;
	border-radius:100px;
	width: 300px;
	text-align:center;
}